@import "tailwindcss";

@theme {
  --color-brand-orange: #ea580c;
  --color-brand-dark: #0a0a0a;
  --color-brand-gray: #111111;
  
  --font-sans: "Inter", var(--font-sans);
}

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
