@import "tailwindcss";

@theme {
  --color-brand-purple: #8F00FF;
  --color-brand-purple-glow: rgba(143, 0, 255, 0.4);
  --color-brand-orange: #FF6700;
  --color-brand-tertiary: #C35166;
  --color-brand-dark: #050505;
  --color-brand-surface: #121212;
  --color-brand-surface-light: #1e1e1e;
  
  --font-sans: "Inter", var(--font-sans);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
